@import 'base/variables';
@import 'vendor/libs';
@import 'base/buttons';

* {
    font-family: 'Roboto';
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}

@import 'block/header';
@import 'block/menu';
@import 'block/modul';
@import 'block/industries';