.deployment {
    min-height: 580px;
    width: 100%;
    &__wrapper {
        position: relative;
        width: 100%; 
    }
    
    &__title {
        // padding: 5px;
        // width: 380px;
        // min-height: 65px;
        // position: relative;
        // margin: 0 auto;
        // margin-top: -79px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        font-size: 30px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        // z-index: -2;
    }
    &__shell {
        // margin-top: -90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__repository {
        width: 100%;
        min-height: 580px;
        background: url('../img/deployment/1_1.jpg') center (center / cover) no-repeat;
        // z-index: -1;
        &:hover &__squaresecond {
            transition: 2s all;
            transform:scaleX(3) translateX(-90px);
        }
        &:hover &__text, &:hover &__subtext {
            transition: 3s all;
            text-shadow: 2px 2px 2px black;
            color: #00e6ff;
        }
        // &__square {
        //     position: absolute;
        //     top: 40%;
        //     transform: translateY(-40%);
        //     left: 43%;
        //     transform: translateX(-43%);
        // }
        &__squaresecond {
            width: 167px;
            height: 167px;
            background-color: rgba($color: #869d9f, $alpha: 0.3);
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: 43%;
            transform: translateX(-43%);
        }
        &__text {
            margin-top: 270px;
            margin-right: 82px;
            font-size: 30px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
        }
        &__subtext {
            margin-top: 20px;
            margin-right: 82px;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
        }
    }
    &__server {
        width: 100%;
        min-height: 580px;
        background: url('../img/deployment/2_1.jpg') center (center / cover) no-repeat;
        // z-index: -1;
        // &__square {
        //     position: absolute;
        //     top: 225px;
        //     left: 620px;
        // }
        &:hover &__squaresecond {
            transition: 2s all;
            transform:scaleX(3) translateX(50px);
        }
        &:hover &__text, &:hover &__subtext {
            transition: 3s all;
            text-shadow: 2px 2px 2px black;
            color: #00e6ff;
        }
        &__squaresecond {
            width: 167px;
            height: 167px;
            background-color: rgba($color: #869d9f, $alpha: 0.3);
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            right: 37%;
            transform: translateX(-25%);
        }
        &__text {
            margin-top: 270px;
            margin-left: 82px;
            font-size: 30px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        &__subtext {
            margin-top: 20px;
            margin-left: 82px;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
    
}