.placement {
    min-height: 580px;
    background: url('../img/bg/placement_bg.jpg') center (center / cover) no-repeat;
    padding-top: 80px;
    &__title {
        font-size: 30px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__repository {
        margin-right: 82px;
        &__text {
            margin-top: 128px;
            font-size: 30px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
        }
        &__subtext {
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
        }
    }
    &__server {
        
        &__text {
            margin-top: 128px;
            
            font-size: 30px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.73;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        &__subtext {
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
}